<p style="color: green"><%= notice %></p>



<h1><%= wiki_post.title.titleize %></h1>
<p>Created on <%= wiki_post.created_at.strftime('%B %d, %Y') %></p>
<p>Description: <%= wiki_post.description %></p>
<p>Author: <%=wiki_post.author.titleize %><p>
<p>Hidden?: <%=wiki_post.hidden %><p>


<% if wiki_post.image.attached? %>
  <%= image_tag wiki_post.image %>
<% end %>


<div>
  <%= link_to "Edit this wiki post", edit_wiki_post_path(wiki_post) %> |
  <%= render 'wiki_posts/back_to_wikiposts' %>

  <%= button_to "Delete", wiki_post, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete #wiki_post.title}?" } } %>
</div>
